header {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  max-width: 1400px;
  flex-wrap: wrap;
  margin: 30px auto;
}

.dropdown {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-title {
  color: black;
  font-weight: 500;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

.header-title:hover {
  cursor: pointer;
}

#logo {
  width: 100px;
  margin-right: 15px;
  margin-left: 15px;
}

#header-icons-login {
  justify-content: space-evenly;
  display: flex;
  position: absolute;
  right: 0;
  width: 66px;
}

#header-icons-logout {
  justify-content: space-evenly;
  display: flex;
  position: absolute;
  right: 0;
  width: 100px;
}

.individual-icon {
  font-size: 20px;
}

.individual-icon:hover {
  cursor: pointer;
}

#men {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 120%;
  left: 0;
}

@media screen and (max-width: 480px) {
  #woman,
  #men,
  #child,
  #accessories,
  #divider {
    display: none;
  }
}
