footer {
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  background-color: #e4e4e4;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
}

#footer-logos {
  display: flex;
  align-items: centers;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-social-icon {
  font-size: 1.5rem;
  margin-right: 30px;
  color: #000;
}

.footer-social-icon:hover {
  color: #18559f;
}

#last-icon {
  margin-right: 0px;
}

#footer-disclamer {
  text-align: center;
}

@media screen and (max-width: 480px) {
  footer {
    max-width: 100vw;
    font-size: 0.9;
  }
}
