<footer>
  <div id="footer-logos">
    <a href="https://www.facebook.com/"
      ><i class="fab fa-facebook footer-social-icon"></i
    ></a>
    <a href="https://twitter.com/"
      ><i class="fab fa-twitter footer-social-icon"></i
    ></a>
    <a href="https://www.instagram.com/"
      ><i class="fab fa-instagram footer-social-icon"></i
    ></a>
    <a href="https://www.youtube.com/"
      ><i class="fab fa-youtube footer-social-icon"></i
    ></a>
    <a href="https://www.pinterest.com"
      ><i class="fab fa-pinterest footer-social-icon" id="last-icon"></i
    ></a>
  </div>
  <div id="footer-disclamer">
    <p>
      O conteúdo deste site está protegido por copyright e é propriedade da H &
      M Hennes & Mauritz AB. O conceito de negócio da H&M é a oferta de moda e
      qualidade aos melhores preços, de forma sustentável. Desde que foi
      fundada, em 1947, a H&M tornou-se uma das maiores empresas de moda do
      mundo.
    </p>
  </div>
</footer>
