main {
  max-width: 1400px;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#highlighted-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  border: 2px solid #fff;
  width: 300px;
}

img:hover {
  cursor: pointer;
  border: 2px solid #f00;
}

@media screen and (max-width: 480px) {
  img {
    width: 135px;
  }
}
