<section>
  <div>
    <div>
      <h4>Tipo</h4>
    </div>
    <div>
      <input type="radio" id="calcas" name="type" value="calcas" />
      <label for="calcas">Calças</label>
      <input type="radio" id="camisa" name="type" value="camisa" />
      <label for="camisa">Camisa</label>
      <input type="radio" id="casaco" name="type" value="casaco" />
      <label for="casaco">Casaco</label>
      <input type="radio" id="tShirt" name="type" value="tShirt" />
      <label for="tShirt">T-Shirt</label>
      <input type="radio" id="sweatShirt" name="type" value="sweatShirt" />
      <label for="sweatShirt">Sweatshirt</label>
    </div>
    <div><h4>Cor</h4></div>
    <div>
      <input type="radio" id="azul" name="type" value="azul" />
      <label for="azul">Azul</label>
      <input type="radio" id="cinzento" name="type" value="cinzento" />
      <label for="cinzento">Cinzento</label>
      <input type="radio" id="laranja" name="type" value="laranja" />
      <label for="laranja">Laranja</label>
      <input type="radio" id="preto" name="type" value="preto" />
      <label for="preto">Preto</label>
    </div>
  </div>
</section>
