<main>
  <h2>Wishlist</h2>
  <section id="Wishlist-products">
    <section class="Wishlist-product" *ngFor="let product of wishlist">
      <img [src]="'../../assets/' + product.foto_principal" alt="" />
      <div class="wishlist-product-details">
        <h3>{{ product.marca }}</h3>
        <h4>{{ product.nome }}</h4>
        <p>{{ product.preco }}€</p>
      </div>
      <div class="action-buttons">
        <button (click)="removeFromWishlist(product)">Remover</button>
        <button
          (click)="addToCartAndRemoveFromWishlist(product)"
          [disabled]="isAddedToCart(product)"
        >
          {{ isAddedToCart(product) ? "Adicionado" : "Adicionar ao Carrinho" }}
        </button>
      </div>
    </section>
  </section>
</main>
