main {
  max-width: 1400px;
  margin: 0 auto;
}
#error-page {
  background-image: url(../../assets/404.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  z-index: 999;
}

button {
  position: absolute;
  bottom: 10%;
  right: 10%;
  height: 60px;
  background-color: #fff;
  color: #d84c7e;
  font-weight: 600;
  border: 2px solid #fff;
}

button:hover {
  color: #fff;
  background-color: #d55209;
  border: 2px solid #fff;
}
