<article
  id="individual-product"
  (mouseover)="showSecondaryImage()"
  (mouseout)="hideSecondaryImage()"
>
  <div class="wish-list-icon" *ngIf="searchLocalStorage() != null">
    <i
      class="far fa-star"
      id="empty-star"
      (click)="markFavorite()"
      *ngIf="!isFavorite"
    ></i>
    <i
      class="fas fa-star"
      id="full-star"
      (click)="unmarkFavorite()"
      *ngIf="isFavorite"
    ></i>
  </div>
  <div id="product-main-image">
    <img
      [src]="
        isHovered
          ? '../../assets/' + productSecondImage
          : '../../assets/' + productMainImage
      "
      alt="product image"
      id="main-image"
      [routerLink]="['/produto-detalhe', product.id]"
    />
    <div class="favorite-dialog-message" *ngIf="showMessage">
      <p>{{ favoriteStatusAlertMessage }}</p>
    </div>
  </div>
  <div id="product-details">
    <h3>{{ productBrand }}</h3>
    <h4>{{ productName }}</h4>
    <p>{{ productPrice }}€</p>
    <button
      *ngIf="searchLocalStorage() != null"
      (click)="addToCart(product)"
      [disabled]="isAddedToCart"
    >
      {{ isAddedToCart ? "Adicionado" : "Adicionar ao Carrinho" }}
    </button>
  </div>
</article>
