table,
tr,
th,
td {
  border: 1px solid #000;
}

table {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

th {
  height: 50px;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
}

th:nth-of-type(8) {
  padding-left: 10px;
  padding-right: 10px;
}

th:last-of-type {
  padding-left: 10px;
  padding-right: 10px;
}

td {
  vertical-align: middle;
}

td img {
  width: 100px;
  padding: 10px;
}

.product-image {
  position: relative;
  display: inline-block;
}

.product-second-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.product-image:hover .product-second-image {
  opacity: 1;
}

.product-highlight i {
  color: #00ff00;
}

.not-product-highlight i {
  color: #ff0000;
}
