h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#profile-section {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}

#profile-info {
  display: flex;
  flex-direction: column;
  width: 95%;
}

#profile-info p {
  margin-bottom: 15px;
}

#profile-update-button {
  width: 160px;
  height: 40px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#profile-update-button:hover {
  cursor: pointer;
}

#profile-edit {
  flex-direction: column;
  height: 800px;
  justify-content: space-evenly;
  align-items: center;
}

#profile-edit-info {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#edit-profile-form {
  display: flex;
  flex-direction: column;
}

#edit-profile-form span {
  display: flex;
  align-items: center;
}

#edit-profile-form label {
  margin-right: 10px;
  width: 150px;
}

#edit-profile-form input {
  flex-grow: 1;
  height: 20px;
  border: 1px solid #aaa;
  height: 20px;
}

#alertPassword,
#alertEmail {
  margin-top: 10px;
  color: #ff0000;
}

#alertPassword33 {
  margin-bottom: 10px;
}

.otherAlerts {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ff0000;
}

.otherAlertsActive {
  display: block;
}

#submit-profile-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#submit-profile {
  width: 160px;
  height: 40px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#activeUser-wrapper input,
#adminUser-wrapper input {
  flex-grow: 0;
}

.info-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #09d51a;
  color: white;
  text-align: center;
  z-index: 100;
  transition: top 0.5s ease;
}

.info-message.ng-leave-active {
  top: -50px;
}
