<main>
  <section id="profile-section">
    <h2>Perfil</h2>
    <div id="profile-info">
      <p id="name">Nome: {{ loggedInUser.name }}</p>
      <p id="email">E-mail: {{ loggedInUser.email }}</p>
      <p id="password">Senha: {{ hidePassword() }}</p>
      <p id="address">Morada: {{ loggedInUser.morada }}</p>
      <p id="pc">Código Postal: {{ loggedInUser.cp }}</p>
      <p id="country">País: {{ loggedInUser.pais }}</p>
    </div>
    <button
      *ngIf="!showEditSection"
      (click)="toggleEditSection()"
      id="profile-update-button"
    >
      Alterar Informação
    </button>
  </section>
  <section
    id="profile-edit"
    *ngIf="showEditSection"
    (submit)="updateUserInfo($event)"
  >
    <article id="profile-edit-info">
      <h2>Alterar Perfil</h2>
      <form action="" id="edit-profile-form">
        <span
          ><label for="profileName">Nome:</label>
          <input
            type="text"
            id="profileName"
            name="profileName"
            [(ngModel)]="updatedUser.name"
        /></span>
        <br />
        <span
          ><label for="profileEmail">E-mail:</label>
          <input
            type="email"
            id="profileEmail"
            name="profileEmail"
            [(ngModel)]="updatedUser.email"
        /></span>
        <br />
        <span
          ><label for="profileAddress">Morada:</label>
          <input
            type="text"
            id="profileAddress"
            name="profileAddress"
            [(ngModel)]="updatedUser.morada"
        /></span>
        <br />
        <span
          ><label for="profilePC">Código Postal:</label>
          <input
            type="text"
            id="profilePC"
            name="profilePC"
            [(ngModel)]="updatedUser.cp"
        /></span>
        <br />
        <span
          ><label for="profileCountry">País:</label>
          <input
            type="text"
            id="profileCountry"
            name="profileCountry"
            [(ngModel)]="updatedUser.pais"
        /></span>
        <span id="submit-profile-wrapper">
          <button type="submit" id="submit-profile">Guardar alterações</button>
        </span>
      </form>
    </article>
    <article id="profile-edit-password">
      <h2>Alterar Password</h2>
      <form action="" id="edit-profile-password-form">
        <span
          ><label for="profilePassword">Senha:</label>
          <input
            type="password"
            id="profilePassword"
            name="profilePassword"
            [(ngModel)]="password"
            required
        /></span>
        <br />
        <span
          ><label for="profilePasswordCheck">Confirme a senha:</label>
          <input
            type="password"
            id="profilePasswordCheck"
            name="profilePasswordCheck"
            required
            [(ngModel)]="passwordCheck"
            (input)="checkPasswords()"
        /></span>
        <p id="alertPassword" *ngIf="password === '' || passwordCheck === ''">
          É obrigatório preencher a password e a confirmação de password
        </p>
        <p id="alertPassword" *ngIf="passwordsMismatch">
          As duas passwords não coincidem
        </p>
        <p id="alertPassword" *ngIf="!passwordValid">
          A password tem de ter 8 caracteres, uma letra maiuscula e um simbolo
        </p>
        <span id="submit-profile-password-wrapper">
          <button type="submit" id="submit-profile-password">
            Guardar password
          </button>
        </span>
      </form>
    </article>
    <button
      id="return-button"
      *ngIf="showEditSection"
      (click)="toggleEditSection()"
      class="btn btn-primary"
    >
      Voltar atrás
    </button>
  </section>
  <div class="info-message" *ngIf="showSuccessMessage">
    Perfil atualizado com sucesso!
  </div>
</main>
